.d-flex {
    display: none!important;
}

.bd-toc nav {
    opacity: 1;
    max-height: 100vh!important;
}

.prev-next-bottom {
    display: none;
}

.footer {
    display: none;
}

.navbar_footer {
	display: none;
}
