.d-flex {
    display: none!important;
}

.bd-toc nav {
    opacity: 1;
    max-height: 100vh!important;
}

.prev-next-bottom {
    display: none;
}

.footer {
    display: none;
}

.navbar_footer {
	display: none;
}

.definition {
	background-color: rgba(123, 183, 223, 0.33);
	border-radius: 20px;
	padding: 20px;
}

.theorem {
	background-color: rgba(240, 213, 75, 0.33);
	border-radius: 20px;
	padding: 20px;
}
