.d-flex {
    display: none!important;
}

.bd-toc nav {
    opacity: 1;
    max-height: 100vh!important;
}

.prev-next-bottom {
    display: none;
}

.footer {
    display: none;
}

.navbar_footer {
	display: none;
}

.definition {
	background-color: rgba(123, 183, 223, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(123, 183, 223, 0.5);
}

.theorem {
	background-color: rgba(240, 213, 75, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(240, 213, 75, 0.5);
}

.observation {
	background-color: rgba(178, 234, 188, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(178, 234, 188, 0.5);
}

details.proof {
    border-width: 2px;
	border-radius: 20px;
	border-style: solid;
	background-color: rgba(128, 128, 128, 0.2);
	border-color: rgba(128, 128, 128, 0.1);
}


details.proof div{
	padding: 20px 20px 10px 20px;
}

summary {
	padding-left: 15px;
	padding-right: 15px;
}
