.d-flex {
    display: none!important;
}

.bd-toc nav {
    opacity: 1;
    max-height: 100vh!important;
}

.bd-toc .nav .nav {
    display: block;
}

.prev-next-bottom {
    display: none;
}

.footer {
    display: none;
}

.navbar_footer {
	display: none;
}

.definition {
	background-color: rgba(123, 183, 223, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(123, 183, 223, 0.5);
}

.theorem {
	background-color: rgba(240, 213, 75, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(240, 213, 75, 0.5);
}

.lemma {
	background-color: rgba(255, 218, 185, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(255, 218, 185, 0.5);
}

.observation {
	background-color: rgba(178, 234, 188, 0.33);
	border-radius: 20px;
	padding: 20px 20px 10px 20px;
	border-style: solid;
	border-color: rgba(178, 234, 188, 0.5);
}

details.proof {
    border-width: 2px;
	border-radius: 20px;
	border-style: solid;
	background-color: rgba(128, 128, 128, 0.2);
	border-color: rgba(128, 128, 128, 0.1);
}


details.proof div{
	padding: 20px 20px 10px 20px;
}

details.proof {
	padding: 0px 30px 0px 30px;
}

summary {
	margin-left: -32px;
	padding-left: 15px;
	padding-right: 15px;
}

summary + * {
    margin-top: 10px;
}

.tag_center-output div img {
    display:block;
    margin:auto;
}

.container {
	width : 103% !important;
}

details > .math.notranslate.nohighlight {
	margin-top: -50px;
	margin-bottom: -15px;
}

@font-face {
	font-family: 'Amiri';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/amiri/v23/J7aRnpd8CGxBHpUutLMS7JNK.woff2) format('woff2');
}


.bd-sidebar {
	font-family: Amiri;
	font-size: 18px;
}

.bd-content {
	font-family: Amiri;
	font-size: 18px;
}

.MathJax_Display {
	margin-top: 4px;
	margin-bottom: 8px;
}

.cell.docutils.container {
	font-size: 15px;
}
